{% extends "nav_site.html" %}

<!-- Title -->
{% block title %}
    Lizenzen
{% endblock title %}

<!-- Content-->
{% block general_content %}
    <div class="content">
        {% if request.user.is_authenticated %}
            <h1>Heartbeats</h1>
            <em>Nicht erhalten: {{count_missing}}</em>
            <br><br>
            <table id="selectedColumn" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm">
                            Aktionen
                        </th>
                        <th class="th-sm">
                            Standort
                        </th>
                        <th class="th-sm">
                            Produkt
                        </th>
                         <th class="th-sm">
                            Nachricht
                        </th>
                        <th class="th-sm">
                            Zuletzt erhalten
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for used_product in used_products %}
                        <tr>
                            <td>
                                <a id="bar" onclick="openModal('{{used.product.id}}');">
                                    <i class="fas fa-history" title="Vergangene Heartbeats anzeigen"></i>
                                </a>&nbsp;
                            </td>
                            <td>
                                {{used_product.location}}
                            </td>
                            <td>
                                {{used_product.product}}
                            </td>
                            <td>
                                {{used_product.heartbeat.message}}
                            </td>
                            <td>
                                {{used_product.last_received}}&nbsp;
                                {% if used_product.received %}
                                    <i class="fas fa-check-circle" class="bar"></i>
                                {% else %}
                                    <i class="fas fa-times-circle" class="bar"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h1>Sie müssen sich erst anmelden.</h1>
            <button type="button">
                <a href="{% url 'login' %}">Anmelden</a>
            </button>
        {% endif %}
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title">{{customer.name}}</h1>
                </div>
                <div class="modal-body">
                    <table id="selectedColumn" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm">
                            ID
                        </th>
                        <th class="th-sm">
                            Zuletzt erhalten
                        </th>
                         <th class="th-sm">
                            Nachricht
                        </th>
                        <th class="th-sm">
                            Detail
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="history-used_product">
                            {{heartbeat.used_product}}
                        </td>
                        <td id="history-last_received">
                            {{heartbeat.last_received}}
                        </td>
                        <td id="history-message">
                            {{heartbeat.message}}
                        </td>
                        <td id="history-detail">
                            {{heartbeat.detail}}
                        </td>
                    </tr>
                </tbody>
            </table>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock general_content %}

{% block custom_js %}
    <script>
        /* $(document).ready(function(){
            $(".bar").click(function(){
                $("#myModal").modal();
            });
        }); */
        openModal = (id) => {
            $.ajax({
                type : "POST",
                url  : "{% url 'heartbeat_history' %}",
                data : {
                    id                  : id,
                    csrfmiddlewaretoken : '{{ csrf_token }}',
                    dataType            : "json",
                },
                success: (result) => {
                    (result.used_product).appendTo('#history-used_product');
                    (result.last_received).appendTo('#history-last_received');
                    (result.message).appendTo('#history-message');
                    (result.detail).appendTo('#history-used_product');
                    $("#myModal").modal();
                },
                failure: () => {
                    console.log('Request failed!');
                },
            });
        };


    /**
         * Executed after the page was load to show data table.
         */
        $(document).ready(function () {
            $('#selectedColumn').DataTable({
                "aaSorting": [],
                    columnDefs: [{
                    orderable : true,
                    targets   : 3
                }]
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>

{% endblock custom_js %}
