{% extends "site.html" %}


{% block content %}
    <div class="content">
        <div id="alert" class="alert alert-danger hidden-alert" role="alert">
        </div>
        <h1>{{title}}</h1>

        <form id="form" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="customer_number">Kundennumer</label>
                <input type="text" class="form-control" id="customer_number" name="customer_number">
            </div>
            <div class="form-group">
                <label for="name">Kundenname</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <button type="submit" class="btn btn-primary">Speichern</button>
            <a href="{% url 'customers_list' %}">
                <button type="button" class="btn btn-danger">
                    Abbrechen
                </button>
            </a>
        </form>

    </div>
    <script>
        $('#form').on('submit', (event) => {
            event.preventDefault();
            $.ajax({
                type : "POST", 
                url  : "{% url 'customers_save' %}",
                data : {
                    id                  : '{{ license.id }}',
                    customer_number     : $('#customer_number').val(),
                    name                : $('#name').val(),
                    csrfmiddlewaretoken : '{{ csrf_token }}',
                    dataType            : "json",
                },
                success: (result) => {
                    if (result.status) {
                        document.location.href = "{% url 'customers_list' %}";
                    } else {
                        $('#alert').removeClass('hidden-alert');
                        $('#alert').html(result.message);
                    }
                },
                failure: () => {
                    console.log('Request failed!');
                },
            });
        });
    </script>
{% endblock content %}
