{% extends "site.html" %}

<!-- Title -->
{% block title %}
    Kunde "{{customer.name}}"
{% endblock title %}

<!-- Content-->
{% block content %}
    <div class="content">
        {% if request.user.is_authenticated %}
            {% if message %}
                {% if status == 'False' %}
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>
                {% else %}
                    <div class="alert alert-success" role="alert">
                        {{message}}
                    </div>
                {% endif %}
            {% endif %}
            <h1>Kunde "{{customer.name}}" - K.Nr.: {{customer.customer_number}}</h1><hr>
            <div class="center">
                <a href="">
                    <button type="button" class="btn btn-primary">
                        + Standort hinzufügen
                    </button>
                </a>
                <a href="{% url 'customers_edit' id=customer.id %}">
                    <button type="button" class="btn btn-default">
                        <i class="fas fa-edit"></i>
                    </button>
                </a>
                <a id="loeschen" href="{% url 'customers_delete' id=customer.id %}">
                    <button onclick="loeschenAlert()" type="button" class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                    </button>
                </a>
            </div><br>
            <div class="container">
                <div class="accordion col" id="accordionExample">
                    <div class="card row-md-2">
                        {% for location in locations %}
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        {{location.name}}
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th scope="row"><b>Ansprechpartner</b></th>
                                                {% for person in location.persons %}
                                                    <td>{{person.first_name}} {{person.last_name}}</td>
                                                {% endfor %}
                                            </tr>
                                            <tr>
                                                <th scope="row"><b>Anschrift</b></th>
                                                <td>{{location.name}}</td>
                                                <td>{{location.street}}</td>
                                                <td>{{location.house_number}}</td>
                                                <td>{{location.postcode}}</td>
                                                <td>{{location.city}}</td>
                                                <td>{{location.phone_number}}</td>
                                                <td>{{location.email_address}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><b>Lizenzen</b></th>
                                                <td>PDF</td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><b>Updates</b></th>
                                                <td>PDF</td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% else %}
            <h1>Sie müssen sich erst anmelden.</h1>
            <button type="button">
                <a href="{% url 'login' %}">Anmelden</a>
            </button>
        {% endif %}
    </div>

<script>

    function loeschenAlert() {
       if (confirm("Möchten Sie den Kunden {{customer.name}} wirklich löschen?")) {
             document.getElementById("loeschen").href = "{% url 'customers_delete' id=customer.id %}";
       } else {
       document.getElementById("loeschen").href = "";
       }
   }

</script>
{% endblock content %}
