{% extends "site.html" %}

<!-- Title -->
{% block title %}
    Kunde
{% endblock title %}

<!-- Content-->
{% block content %}
    <div class="content">
        {% if request.user.is_authenticated %}
            <h1>Kunde "{{customer.name}}"</h1><hr>
            <div class="container">
                    <div class="accordion col" id="accordionExample">
                      <div class="card row-md-2">
                          {% for location in locations %}
                        <div class="card-header" id="headingOne">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                {{location.name}}
                            </button>
                          </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                          <div class="card-body">
                              <table class="table">
                                  <tbody>
                                        <tr>
                                            <th scope="row"><b>Kundennummer</b></th>
                                          <td>{{customer.customer_number}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><b>Ansprechpartner</b></th>
                                          <td>{{customer.contactperson.first_name}} {{customer.contactperson.last_name}}</td>
                                        </tr>
                                            <tr>
                                                <th scope="row"><b>Anschrift</b></th>
                                              <td>{{location.name}}</td>
                                              <td>{{location.street}}</td>
                                              <td>{{location.house_number}}</td>
                                              <td>{{location.postcode}}</td>
                                              <td>{{location.city}}</td>
                                              <td>{{location.phone_number}}</td>
                                              <td>{{location.email_address}}</td>
                                            </tr>
                                  </tbody>
                              </table>
                          </div>
                        </div>
                          {% endfor %}
                      </div>
                    </div>
            </div>
            {% else %}
                <h1>Sie müssen sich erst anmelden.</h1>
                <button type="button">
                    <a href="{% url 'login' %}">Anmelden</a>
                </button>

            {% endif %}
        </div>
{% endblock content %}

