{% extends "site.html" %}

<!-- Title -->
{% block title %}
    Kunden
{% endblock title %}

<!-- Content-->
{% block content %}
    <div class="content">
        {% if request.user.is_authenticated %}
            {% if message %}
                {% if status == 'False' %}
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>
                {% else %}
                    <div class="alert alert-success" role="alert">
                        {{message}}
                    </div>
                {% endif %}
            {% endif %}
            <div class="addCustomer">
                <a href="{% url 'customers_create' %}">
                    <button type="button" class="btn btn-primary">
                        + Kunden hinzufügen
                    </button>
                </a>
            </div>
            <h1>Kunden</h1>
            <div class="listname_box">
                {% for customer_letter in customer_list %}
                <h4 class="h4style">{{customer_letter.letter}}</h4>
                <ul class="listname">
                    {% for customer in customer_letter.customers %}
                    <li>
                        <a href="{% url 'customer' id=customer.id %}">
                            {{customer.name}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
        {% else %}
            <h1>Sie müssen sich erst anmelden.</h1>
            <button type="button">
                <a href="{% url 'login' %}">Anmelden</a>
            </button>
        {% endif %}
    </div>
{% endblock content %}
