{% extends "licenses/abstract-edit.html" %}

{% block start_date %}
    <div class="form-group">
        <label for="start_date">Anfangsdatum</label>
        <input type="date" class="form-control" id="start_date" value="{{license.start_date}}" required>
    </div>
{% endblock start_date %}

{% block assignments %}
    <div class="form-group">
        <label for="module">Software-Modul</label>
        <select id="module" class="browser-default custom-select" required>
            {% if license.module.id %}
                <option value="" disabled>Bitte Modul auswählen</option>
            {% else %}
                <option value="" disabled selected>Bitte Modul auswählen</option>
            {% endif %}
            {% for module in modules %}
                {% if license.module.id == module.id %}
                    <option value="{{module.id}}" selected>{{module.name}}</option>
                {% else %}
                    <option value="{{module.id}}">{{module.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="location">Standorte</label>
        <select id="location" class="browser-default custom-select">
            {% if license.location.id %}
                <option value="">Bitte Standort auswählen</option>
            {% else %}
                <option value="" selected>Bitte Standort auswählen</option>
            {% endif %}
            {% for location in locations %}
                {% if license.location.id == location.id %}
                    <option value="{{location.id}}" selected>{{location.name}}</option>
                {% else %}
                    <option value="{{location.id}}">{{location.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="customer">Kunde</label>
        <select id="customer" class="browser-default custom-select">
            {% if license.customer.id %}
                <option value="">Bitte Kunden auswählen</option>
            {% else %}
                <option value="" selected>Bitte Kunden auswählen</option>
            {% endif %}
            {% for customer in customers %}
                {% if license.customer.id == customer.id %}
                    <option value="{{customer.id}}" selected>{{customer.name}}</option>
                {% else %}
                    <option value="{{customer.id}}">{{customer.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
{% endblock assignments %}

{% block js %}
    <script>
        /**
         * Sends entered license data as ajax request on form submit.
         * After that you get a success or error message. On success you gonna be redirected to the license list page.
         * 
         * @param {Event} event  form submit event
         */
        $('#form').on('submit', (event) => {
            event.preventDefault();
            $.ajax({
                type : "POST", 
                url  : "{% url 'licenses_save' %}",
                data : {
                    id                  : '{{ license.id }}',
                    key                 : $('#key').val(),
                    detail              : $('#detail').val(),
                    start_date          : $('#start_date').val(),
                    end_date            : $('#end_date').val(),
                    module              : $('#module').val(),
                    location            : $('#location').val(),
                    customer            : $('#customer').val(),
                    csrfmiddlewaretoken : '{{ csrf_token }}',
                    dataType            : "json",
                },
                success: (result) => {
                    if (result.status) {
                        document.location.href = "{% url 'licenses_list' %}";
                    } else {
                        $('#alert').removeClass('hidden-alert');
                        $('#alert').html(result.message);
                    }
                },
                failure: () => {
                    console.log('Request failed!');
                },
            });
        });
    </script>
{% endblock js %}