{% extends "site.html" %}

<!-- Title -->
{% block title %}
    {{title}}
{% endblock title %}

<!-- Content -->
{% block content %}
    <div class="content">
        {% if request.user.is_authenticated %}
            <div id="alert" class="alert alert-danger hidden-alert" role="alert">
            </div>
            <h1>{{title}}</h1>
            <form id="form" method="post">
                <div class="form-group">
                    <label for="key">Lizenzschlüssel</label>
                    <input type="text"
                        class="form-control"
                        id="key"
                        value="{{license.key}}"
                        placeholder="Lizenzschlüssel eingeben"
                        maxlength="255"
                        required
                    >
                </div>
                <div class="form-group">
                    <label for="detail">Details</label>
                    <textarea class="form-control"
                        id="detail"
                        rows="5"
                        placeholder="Details eingeben"
                        maxlength="2047"
                        required
                    >{{license.detail}}</textarea>
                </div>
                <div class="form-group">
                    <label for="start_date">Anfangsdatum</label>
                    <input type="date" class="form-control" id="start_date" value="{{license.start_date}}" required>
                </div>
                <div class="form-group">
                    <label for="end_date">Enddatum</label>
                    <input type="date" class="form-control" id="end_date" value="{{license.end_date}}" required>
                </div>
                <div class="form-group">
                    <label for="module">Software-Modul</label>
                    <select id="module" class="mdb-select md-form" searchable="Modul wählen..." required>
                        {% if license.module.id %}
                            <option value="" disabled>Bitte Modul auswählen</option>
                        {% else %}
                            <option value="" disabled selected>Bitte Modul auswählen</option>
                        {% endif %}
                        {% for module in modules %}
                            {% if license.module.id == module.id %}
                                <option value="{{module.id}}" selected>{{module.name}}</option>
                            {% else %}
                                <option value="{{module.id}}">{{module.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="location">Standorte</label>
                    <select id="location" class="mdb-select md-form" searchable="Standort wählen...">
                        {% if license.location.id %}
                            <option value="">Bitte Standort auswählen</option>
                        {% else %}
                            <option value="" selected>Bitte Standort auswählen</option>
                        {% endif %}
                        {% for location in locations %}
                            {% if license.location.id == location.id %}
                                <option value="{{location.id}}" selected>{{location.name}}</option>
                            {% else %}
                                <option value="{{location.id}}">{{location.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="customer">Kunde</label>
                    <select id="customer" class="mdb-select md-form" searchable="Kunden wählen...">
                        {% if license.customer.id %}
                            <option value="">Bitte Kunden auswählen</option>
                        {% else %}
                            <option value="" selected>Bitte Kunden auswählen</option>
                        {% endif %}
                        {% for customer in customers %}
                            {% if license.customer.id == customer.id %}
                                <option value="{{customer.id}}" selected>{{customer.name}}</option>
                            {% else %}
                                <option value="{{customer.id}}">{{customer.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Speichern</button>
                <a href="{% url 'licenses_list' %}">
                    <button type="button" class="btn btn-danger">
                        Abbrechen
                    </button>
                </a>
            </form>
            <script>
                /* $(document).ready(() => {
                    $('.mdb-select').materialSelect();
                }); */
                $('#form').on('submit', (event) => {
                    event.preventDefault();
                    $.ajax({
                        type : "POST", 
                        url  : "{% url 'licenses_save' %}",
                        data : {
                            id                  : '{{ license.id }}',
                            key                 : $('#key').val(),
                            detail              : $('#detail').val(),
                            start_date          : $('#start_date').val(),
                            end_date            : $('#end_date').val(),
                            module              : $('#module').val(),
                            location            : $('#location').val(),
                            customer            : $('#customer').val(),
                            csrfmiddlewaretoken : '{{ csrf_token }}',
                            dataType            : "json",
                        },
                        success: (result) => {
                            if (result.status) {
                                document.location.href = "{% url 'licenses_list' %}";
                            } else {
                                $('#alert').removeClass('hidden-alert');
                                $('#alert').html(result.message);
                            }
                        },
                        failure: () => {
                            console.log('Request failed!');
                        },
                    });
                });
            </script>
        {% else %}
            <h1>Sie müssen sich erst anmelden.</h1>
            <button type="button">
                <a href="{% url 'login' %}">Anmelden</a>
            </button>
        {% endif %}
    </div>
{% endblock content %}
