{% extends "site.html" %}

<!-- Title -->
{% block title %}
    Lizenzen
{% endblock title %}

<!-- Content--> 
{% block content %}
    <div class="content">
        {% if request.user.is_authenticated %}
            {% if message %}
                {% if status == 'False' %}
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>
                {% else %}
                    <div class="alert alert-success" role="alert">
                        {{message}}
                    </div>
                {% endif %}
            {% endif %}
            <h1>Lizenzen</h1>
            <a href="{% url 'licenses_create' %}">
                <button type="button" class="btn btn-primary">
                    + Lizenz hinzufügen
                </button>
            </a>
            <br><br>
            <table id="selectedColumn" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm">
                            Aktionen
                        </th>
                        <th class="th-sm">
                            Kunde
                        </th>
                        <th class="th-sm">
                            Standort
                        </th>
                        <th class="th-sm">
                            Produkt
                        </th>
                        <th class="th-sm">
                            Modul
                        </th>
                        <th class="th-sm">
                            Anfangsdatum
                        </th>
                        <th class="th-sm">
                            Enddatum
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for license in licenses %}
                        <tr>
                            <td>
                                <a href="{% url 'licenses_edit' id=license.id %}">
                                    <i class="fas fa-edit" title="Lizenz bearbeiten"></i>
                                </a>&nbsp;
                                <a href="{% url 'licenses_delete' id=license.id %}" class="text-danger">
                                    <i class="fas fa-trash" title="Lizenz löschen"></i>
                                </a>
                            </td>
                            <td>
                                {{license.customer}}
                                {% if license.customer == 'Nicht zugewiesen' %}
                                    <i class="fas fa-exclamation-circle" title="Lizenz ist weder Standort noch Kunde zugewiesen"></i>
                                {% endif %}
                            </td>
                            <td>
                                {{license.location}}
                                {% if license.customer == 'Nicht zugewiesen' %}
                                    <i class="fas fa-exclamation-circle" title="Lizenz ist weder Standort noch Kunde zugewiesen"></i>
                                {% endif %}
                            </td>
                            <td>
                                {{license.product}}
                            </td>
                            <td>
                                {{license.module}}
                            </td>
                            <td>
                                {{license.start_date}}
                            </td>
                            <td>
                                {{license.end_date}}&nbsp;
                                {% if license.valid == 1 %}
                                    <i class="fas fa-check-circle" title="Lizenz noch mind. 6 Wochen gültig"></i>
                                {% elif license.valid == 0 %}
                                    <i class="fas fa-exclamation-circle" title="Lizenz läuft bald ab"></i>
                                {% elif license.valid == -1 %}
                                    <i class="fas fa-times-circle" title="Lizenz ist abgelaufen"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% else %}
            <h1>Sie müssen sich erst anmelden.</h1>
            <button type="button">
                <a href="{% url 'login' %}">Anmelden</a>
            </button>

        {% endif %}
    </div>
{% endblock content %}

{% block custom_js %}
    <script>
        /**
         * Executed after the page was load to show data table.
         */
        $(document).ready(function () {
            $('#selectedColumn').DataTable({
                "aaSorting": [],
                    columnDefs: [{
                    orderable : true,
                    targets   : 3
                }]
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
{% endblock custom_js %}
