{% extends "site.html" %}

<!-- Title -->
{% block title %}
    Startseite
{% endblock title %}

<!-- Content--> 
{% block content %}
    <div class="container-fluid">
        <h1>Simple Sidebar</h1>
        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger 

screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
              
    </div>
    <!-- <div class="content">
        {% if request.user.is_authenticated %}
            <h1>Startseite</h1>

        {% else %}
            <h1>Sie müssen sich erst anmelden.</h1>
            <button type="button">
                <a href="{% url 'login' %}">Anmelden</a>
            </button>

        {% endif %}
    </div> -->
{% endblock content %}
