{% extends "site.html" %}

<!-- Title -->
{% block title %}
    Startseite
{% endblock title %}

<!-- Content--> 
{% block content %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <div class="content">
        {% if request.user.is_authenticated %}
            <h1 class="Lage">Derzeitige Lage des Portals</h1>
            <div id="charts" class="row">
                <div class="col-4">
                    <h4 class="chart-title">Aktuelle Updates</h4>
                    <canvas id="updates-chart"></canvas>
                </div>
                <div class="col-4">
                    <h4 class ="chart-title">Aktuelle Lizenzen</h4>
                    <canvas id="licenses-chart"></canvas>
                 <canvas id="barChart2"> </canvas>
                </div>
                <div class="col-4">
                    <h4 class ="chart-title">Aktuelle Heartbeats</h4>
                    <canvas id="heartbeats-chart"></canvas>
                </div>
             </div>

        <script>
            /**
             * Generates a chart with the given parameters.
             * 
             * @param {string} chart   id
             * @param {string} label1  label of the red left bar
             * @param {string} label1  label of the right green bar
             * @param {string} data1   data of the red left bar
             * @param {string} data2   data of the right green bar
             */
            generateChart = (id, label1, label2, data1, data2) => {
                let chart = document.getElementById(id).getContext('2d');
                new Chart(chart, {
                    type: 'bar',
                    data: {
                        labels: [
                            data1,
                            data2,
                        ],
                        datasets: [{
                            label: label1,
                            data: [
                                data1,
                                data2,
                            ],
                            backgroundColor: [
                                'rgba(207, 0, 15, 1)',
                                'rgba(31, 58, 147, 1)',
                            ],
                            borderColor: [
                                'rgba(207, 0, 15, 1)',
                                'rgba(31, 58, 147, 1)',
                            ],
                        },
                        {
                            label: label2,
                            backgroundColor : 'rgba(31, 58, 147, 1)',
                            borderColor     : 'rgba(31, 58, 147, 1)',
                        }],
                    },
                    options: {
                        responsive          : true,
                        maintainAspectRatio : true,
                        scales              : {
                            x: {
                                stacked: true,
                            },
                            y: {
                                stacked: true
                            },
                            yAxes: [{
                                ticks: {
                                    beginAtZero : true,
                                    max         : 100,
                                    stepSize    : 25,
                                },
                            }],
                            xAxes: [{
                                categoryPercentage: 0.1,
                                barPercentage     : 0.5,
                                display           : true,
                            }],
                        }
                    }
                });
            };
            generateChart('updates-chart', 'Updates nicht installiert', 'Updates installiert', '{{updates_count.old}}', '{{updates_count.current}}');
            generateChart('licenses-chart', 'Lizenzen abgelaufen', 'Lizenzen aktuell', '{{licenses_count.expired}}', '{{licenses_count.valid}}');
            generateChart('heartbeats-chart', 'Heartbeats Probleme', 'Heartbeats OK', '{{heartbeats_count.missing}}', '{{heartbeats_count.valid}}');
        </script>


        {% else %}
            <h1>Sie müssen sich erst anmelden.</h1>
            <button type="button">
                <a href="{% url 'login' %}">Anmelden</a>
            </button>

        {% endif %}
    </div>
{% endblock content %}
