{% extends "base.html" %}
{% load static %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/logo.png' %}" class="nav-logo" alt="logo">
        </a>
        <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Startseite</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'licenses_list' %}">Lizenzen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'updates_list' %}">Updates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'customers_list' %}">Kunden</a>
                </li>
                {% if request.user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/">Admin</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" title="Globale Suche" href="{% url 'search' %}">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                        href=""
                        id="navbarDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'user_management:settings' %}">Einstellungen</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Abmelden</a>
                    </div>
                </li>
            </ul>
        </form>
        </div>
    </nav>
{% endblock navbar %}

{% block footer %}
    <footer>
        © 2020 <a href="https://www.aubex.de/"> aubex GmbH </a> - Gemeinsam für eine bessere Mobilität
    </footer>
{% endblock footer %}
