{% extends "site.html" %}

<!-- Title -->
{% block title %}
    Suche
{% endblock title %}

<!-- Content -->
{% block content %}
    <div class="content">
        {% if request.user.is_authenticated %}
            <h1>Globale Suche</h1>

            <form id="form" class="form-inline mr-auto mb-4">
                <input class="form-control mr-sm-2 input-search"
                    id="search_word"
                    type="text"
                    placeholder="Suchbegriff eingeben"
                    aria-label="Search"
                    maxlength="100"
                    required
                >
                <button id="button" class="btn btn-indigo btn-rounded btn-sm my-0 waves-effect waves-light disabled" type="submit">
                    Suche
                </button>
            </form>

            <div class="custom-control custom-checkbox left-button">
                <input type="checkbox" class="custom-control-input" id="contains" value="True" checked>
                <label class="custom-control-label" for="contains">Beinhaltende einschließen</label>
            </div>
            <p id="invalid" class="red-text hidden">Der Suchbegriff muss zwischen 3 und 100 Zeichen lang sein.</p>

            <div id="customers" class="hidden">
                <h2 id="customers-title">Kunden</h2>
               <table id="customers-table selectedColumn" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                </table>
            </div>

            <div id="locations" class="hidden">
                <h2 id="locations-title">Standorte</h2>
               <table id="locations-table selectedColumn" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                </table>
            </div>

            <div id="contact_persons" class="hidden">
                <h2 id="contact_persons-title">Ansprechpartner</h2>
               <table id="contact_persons-table selectedColumn" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                </table>
            </div>

            <div id="software_products" class="hidden">
                <h2 id="software_products-title">Software-Produkte</h2>
               <table id="software_products-table selectedColumn" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                </table>
            </div>

            <div id="software_modules" class="hidden">
                <h2 id="software_modules-title">Software-Module</h2>
               <table id="software_modules-table selectedColumn" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                </table>
            </div>

            <script>
                /**
                 * Check validity of search word when a key was pressed.
                 * 
                 * @param {KeyboardEvent} event  event 'onkeyup'
                 */
                $('#search_word').on('keyup', (event) => {
                    checkValidity();
                });

                /**
                 * Check contains checkbox when checkbox was clicked on.
                 * 
                 * @param {Event} event  event 'onclick'
                 */
                $('#contains').on('click', (event) => {
                    checkContains();
                });

                /**
                 * Sends search word and if contains as ajax request on form submit.
                 * On success the needed tables will be generated.
                 * 
                 * @param {Event} event  form submit event
                 */
                $('#form').on('submit', (event) => {
                    event.preventDefault();
            
                    $.ajax({
                        type : "POST", 
                        url  : "{% url 'search_result' %}",
                        data : {
                            search_word         : $('#search_word').val(),
                            contains            : $('#contains').val(),
                            csrfmiddlewaretoken : '{{ csrf_token }}',
                            dataType            : "json",
                        },
                        success: (result) => {
                            generateTables(result);
                        },
                        failure: () => {
                            console.error('Request failed!');
                        }
                    });
                });

                /**
                 * Checks the validity of the search input field.
                 * Disables the submit button and adds a notice of the invalidity, if the input field is invalid.
                 */
                 checkValidity = () => {
                    let value     = document.getElementById('search_word').value;
                    let button    = document.getElementById('button');
                    let paragraph = document.getElementById('invalid');
                    if (value.length < 3 || value.length > 100) {
                        button.classList.add('disabled');
                        paragraph.classList.remove('hidden');
                    } else {
                        button.classList.remove('disabled');
                        paragraph.classList.add('hidden');
                    }
                };

                /**
                 * Checks the contains checkbox and sets the value if the button was pressed.
                 */
                checkContains = () => {
                    let checkbox = document.getElementById('contains');
                    let value    = checkbox.value;
                    if (value == 'True') {
                        checkbox.setAttribute('value', 'False');
                    } else {
                        checkbox.setAttribute('value', 'True');
                    }
                };

                /**
                 * Generates all necessary tables and deletes all unneeded ones with given data.
                 * The data is an object of tables to generate with an array string of table lines.
                 * 
                 * @param {Object} data  data with tables to generate
                 */
                generateTables = (data) => {
                    if (!Object.entries(data).length) {
                        return;
                    }
                    for (let [key, value] of Object.entries(data)) {
                        tableData = parseJson(value);
                        generateTable(tableData, key);
                    }
                };

                /**
                 * Parses a string to an array of objects.
                 * 
                 * @param  {string} dataString  array as string
                 * @return {array}              parsed array
                 */
                parseJson = (dataString) => {
                    if (!dataString || dataString == '[]') {
                        return null;
                    }
                    return JSON.parse(dataString);
                };

                /**
                 * Generates a table by given data array and it's name.
                 * 
                 * @param {array}  data  array of objects to save in the table
                 * @param {string} name  table name
                 */
                generateTable = (data, name) => {
                    let thead = document.getElementById(name + '-thead');
                    if (data) {
                        document.getElementById(name).classList.remove('hidden');
                        let table = document.getElementById(name + '-table selectedColumn');
                        let keys  = Object.keys(data[0]);
                        if (!thead) {
                            generateTableHead(table, keys, name);
                        } else {
                            deleteTable(name);
                        }
                        generateTableBody(table, data, name);
                    } else {
                        document.getElementById(name).classList.add('hidden');
                        if (thead) {
                            deleteTable(name, thead);
                        }
                    }
                };

                /**
                 * Generates the table head.
                 * 
                 * @param {HTMLElement} table  table element
                 * @param {array}       keys   table column names
                 * @param {string}      name   table name
                 */
                generateTableHead = (table, keys, name) => {
                    let thead = table.createTHead();
                    thead.setAttribute('id', name + '-thead');
                    let row = thead.insertRow();
                    for (let key of keys) {
                        if (key.endsWith('id')) {
                            continue;
                        }
                        let th = document.createElement('th');
                        th.classList.add('th-sm');
                        let text = document.createTextNode(parseKey(key));
                        th.appendChild(text);
                        row.appendChild(th);
                    }
                };

                /**
                 * Generates the table body.
                 * 
                 * @param {HTMLElement} table  table element
                 * @param {array}       data   table data
                 * @param {string}      name   table name
                 */
                generateTableBody = (table, data, name) => {
                    let tbody = table.createTBody();
                    tbody.setAttribute('id', name + '-tbody');
                    for (let rowData of data) {
                        let row = tbody.insertRow();
                        addLinks(row, rowData, name);
                        for (key in rowData) {
                            if (key.endsWith('id')) {
                                continue;
                            }
                            let cell = row.insertCell();
                            let text = document.createTextNode(rowData[key]);
                            cell.appendChild(text);
                        }
                    }
                };

                /**
                 * Adds link to the belonging customer to a row.
                 * 
                 * @param {HtmlElement} row      row element
                 * @param {Object}      rowData  table row data
                 * @param {string}      name     table name
                 */
                addLinks = (row, rowData, name) => {
                    if (name == 'customers') {
                        row.setAttribute('onclick', 'goToCustomer(' + rowData.id + ')');
                    } else if (name == 'locations') {
                        row.setAttribute('onclick', 'goToCustomer(' + rowData.customer_id + ')');
                    } else if (name == 'contact_persons') {
                        row.setAttribute('onclick', 'goToCustomer(' + rowData.location__customer__id + ')');
                    }
                };

                /**
                 * Navigates to a customer by given id.
                 * 
                 * @param {int} id  customer id
                 */
                goToCustomer = (id) => {
                    let href = "{% url 'customer' id=0 %}";
                    document.location.href =  href.replace('0', id);
                };

                /**
                 * Deletes the table body.
                 * If you parse a table head it deletes it also.
                 * 
                 * @param {string}      name   table name
                 * @param {HTMLElement} thead  table head element
                 */
                deleteTable = (name, thead = null) => {
                    let tbody = document.getElementById(name + '-tbody');
                    tbody.remove();
                    if (thead) {
                        thead.remove();
                    }
                };

                /**
                 * Parses a key for table head names.
                 * 
                 * @param  {string} key  key to parse
                 * @return {string}      parsed key
                 */
                parseKey = (key) => {
                    if (typeof key !== 'string') {
                        return '';
                    }
                    key = key.charAt(0).toUpperCase() + key.slice(1);
                    key = key.replace('__name', '');
                    key = key.replace('Location__customer', 'Customer');
                    key = key.replace('_', ' ');
                    key = translateKey(key);

                    return key;
                };

                /**
                 * Translates a key from english to german for table head names.
                 * 
                 * @param  {string} key  key to translate
                 * @return {string}      translated key
                 */
                translateKey = (key) => {
                    key = key.replace('Customer number', 'Kundennummer');
                    key = key.replace('Postcode', 'PLZ');
                    key = key.replace('City', 'Ort');
                    key = key.replace('Customer', 'Kunde');
                    key = key.replace('First ', 'Vor');
                    key = key.replace('Last ', 'Nach');
                    key = key.replace('Location', 'Standort');
                    key = key.replace('Product', 'Produkt');
                    key = key.replace('Category', 'Kategorie');

                    return key;
                };
            </script>

        {% else %}
            <h1>Sie müssen sich erst anmelden.</h1>
            <button type="button">
                <a href="{% url 'login' %}">Anmelden</a>
            </button>

        {% endif %}
    </div>
{% endblock content %}

{% block custom_js}
{% endblock custom_js}
