{% extends "site.html" %}

<!-- Title -->
{% block title %}
    Lizenzen
{% endblock title %}

<!-- Content--> 
{% block content %}
    <div class="content">
        {% if request.user.is_authenticated %}
            <h1>Lizenzen</h1>

        {% else %}
            <h1>Sie müssen sich erst anmelden.</h1>
            <button type="button">
                <a href="{% url 'login' %}">Anmelden</a>
            </button>
 <table style="width:100%">
  <tr>
      <th>Kundennummer</th>
      <th>kunde</th>
      <th>Lizenzanfang</th>
      <th>Lizenzende</th>
  </tr>
     {% for kunde in kunden %}
  <tr>
    <td>{{kunde.kundennummer}}</td>
    <td>{{kunde.kunde}}</td>
    <td>{{licence.Lizenzanfang}}</td>
      <td>{{licence.Lizenzende}}</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table>
        {% endif %}
    </div>
{% endblock content %}
